
.search-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #fff;
}

.search-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-box {
  width: 320px;
  height: 20px;
  padding: 10px 20px 10px 40px; 
  border-radius: 25px;
  border: 2px solid #aaa;
  font-size: 16px;
  outline: none;
  transition: 0.3s ease;
}

#search-box:focus {
  border-color: #03763c; 
}

.search-icon {
  position: absolute;
  left: 15px;
  color: #555;
  font-size: 18px;
  cursor: pointer;
}
/* ------------------------------------------------------------------------- */
.main-foodcontainer{
    display: flex;
    padding: 40px 40px 30px 20px;
    gap: 80px;

}
.food-class{
    width: 200px;
    height: 200px;
    border-radius: 10vh;
}
.each-foodcontainer{
    background-color: rgb(245, 237, 247) ;
}
.each-foodcontainer h1{
    font-size: medium;
    color: rgb(184, 0, 0);
}
.each-foodcontainer p{
    font-size: medium;
    color: rgb(184, 0, 0);
}
.each-foodcontainer button{
    font-size: large;
    color: white;
    background-color: red;
}